<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="theme-color" content="#2196f3">
<title>Paso 2) Examen</title>
<link rel="stylesheet" href="../css/framework7.material.min.css">
<link rel="stylesheet" href="../css/framework7.material.colors.min.css">
<!--link rel="stylesheet" href="css/my-app.css"-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
	<div class="statusbar-overlay"></div>
	<div class="panel-overlay"></div>
	<div class="views">
		<div class="view view-main">
			<div class="pages navbar-fixed">
				<div data-page="index" class="page">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="center">eLicencia</div>
							<div id="saveinfo" class="right">
								<a href="#" data-picker=".picker-1" class="open-picker link" id="continue"><i class="material-icons">arrow_forward</i></a>
							</div>
						</div>
					</div>
					<div class="page-content">
						<div class="content-block-title">
							<b>2) Segundo Paso: Realice el Examén</b>
						</div>
						<div class="content-block">
							<p>Realice y apruebe el siguiente examen, pues con esto comprobamos que usted tiene lo escencial para obtener la eLicencia</p>
							<hr>
							<h2 align="center">Aqui va el Examen para la licencia tipo "<em id="tipo"></em>"</h2>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>


	<!-- Path to Jquery Library JS-->
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../js/framework7.min.js"></script>
    <!-- Path to Angular Library JS-->
    <!--script type="text/javascript" src="js/angular.min.js"></script-->
    <!-- Path to your app js-->
    <!--script type="text/javascript" src="js/app.js"></script-->
    <script>
    	$(document).ready(function (){
    		if(localStorage.getItem("indicator") != null){
    			//alert("!= null "+localStorage.getItem("indicator"));
    			if(localStorage.getItem("indicator") == 0){
    				window.location.href = "../index.html";	
    			}
    			if(localStorage.getItem("indicator") == 2){
    				window.location.href = "step3_register.html";	
    			}
    		}else{
    			window.location.href = "../index.html";	
    		}
    		$("#tipo").empty();
    		$("#tipo").append(localStorage.getItem("tipo"));

	    	//$("#saveinfo").hide();
	    	var indicator = 2;
			$("#continue").click(function(){
				//alert("continuar 2");
				localStorage.setItem("indicator", indicator);
				window.location.href = "step3_register.html";
			});
		});

    </script>

</body>
</html>
