<!DOCTYPE html>
<html ng-app="elicenciaapp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="theme-color" content="#2196f3">
<title>Framework7 Material</title>
<link rel="stylesheet" href="../css/framework7.material.min.css">
<link rel="stylesheet" href="../css/framework7.material.colors.min.css">
<!--link rel="stylesheet" href="css/my-app.css"-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body ng-controller="elicenciaCtrl">
	<div class="statusbar-overlay"></div>
	<div class="panel-overlay"></div>
	<div class="views">
		<div class="view view-main">
			<div class="pages navbar-fixed">
				<div data-page="index" class="page">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="center">eLicencia</div>
							<div id="saveinfo" class="right">
								<a href="#" data-picker=".picker-1" class="open-picker link"><i class="material-icons">check</i></a>
							</div>
						</div>
					</div>
					
					<div class="toolbar tabbar">
						<div class="toolbar-inner">
							<a href="#tab1" class="active tab-link" ng-click="myoption(1)">Parte Frontal</a>
							<a href="#tab2" class="tab-link" ng-click="myoption(2)">Parte Trasera</a>
						</div>
					</div>

					<div class="tabs-animated-wrap">
						<div class="tabs">
							<div id="tab1" class="page-content tab active">
								<br>
								<div class="content-block">
									<div class="content-block-title">
										<b>3) Tercer Paso: Proporcione sus datos</b>
									</div>
									<div class="content-block">
										<p>Proporcione sus datos para completar la operación.<br><b><em style="font-size: 8pt;">Todos los campos son obligatorios</em></b></p>
										<hr>
										<p align="center">Parte Frontal de la licencia</p>
									</div>
									
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">person_outline</i></div>
													<div class="item-inner">
														<!--div class="item-title label">Nombre</div-->
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUNOM" placeholder="Nombre(s)"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">person_outline</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUAPP" placeholder="Apellido Paterno"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">person_outline</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUAPM" placeholder="Apellido Materno"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">assignment</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSURFC" placeholder="R F C"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<br>
												<div class="row">
													<div class="col-50">
														<div class="item-content">
															<div class="item-media"><i class="material-icons">room</i></div>
															<div class="item-inner">
																<div class="item-input">
																	<input type="text" ng-model="tmp.LUSUCAL" placeholder="Calle"/>
																</div>
															</div>
														</div>
													</div>
											    	<div class="col-50">
														<div class="item-content">
															<div class="item-media"><i class="material-icons">room</i></div>
															<div class="item-inner">
																<div class="item-input">
																	<input type="text" ng-model="tmp.LUSUNUM"  placeholder="Num."/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li>
												<br>
												<div class="row">
													<div class="col-50">
														<div class="item-content">
															<div class="item-media"><i class="material-icons">room</i></div>
															<div class="item-inner">
																<div class="item-input">
																	<input type="text" ng-model="tmp.LUSUCOL" placeholder="Colonia"/>
																</div>
															</div>
														</div>
													</div>
											    	<div class="col-50">
														<div class="item-content">
															<div class="item-media"><i class="material-icons">label</i></div>
															<div class="item-inner">
																<div class="item-input">
																	<input type="text" ng-model="tmp.LUSUCOP" placeholder="CP"/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">home</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUMUN" placeholder="Municipio"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">email</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="email" ng-model="tmp.LUSUEMA" placeholder="Correo Electrónico"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">phone</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUCEL" placeholder="Celular"/>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div id="tab2" class="page-content tab">
								<div class="content-block">
									<br>
									<div class="content-block-title" align="center">Parte Trasera de la licencia</div>
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">favorite</i></div>
													<div class="item-inner">
														<div class="item-title label">Donador de Órganos</div>
														<div class="item-input">
															<select ng-model="tmp.LUSUDON">
																<option>Si</option>
																<option>No</option>
															</select>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">local_hospital</i></div>
													<div class="item-inner">
														<div class="item-input">
															<textarea class="resizable" ng-model="tmp.LUSUALE" placeholder="Alergias"></textarea>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">people_outline</i></div>
													<div class="item-inner">
														<div class="item-title label">Sexo</div>
														<div class="item-input">
															<select ng-model="tmp.LUSUSEX">
																<option>Masculino</option>
																<option>Femenino</option>
															</select>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">label</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUCUR" placeholder="CURP"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">label</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUINE" placeholder="I N E"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">local_hospital</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUTIS" placeholder="Tipo de Sangre"/>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>

									<div class="content-block-title">En caso de Emergencia llamar a</div>
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">person_outline</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUNOE" placeholder="Nombre Completo">
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-media"><i class="material-icons">phone</i></div>
													<div class="item-inner">
														<div class="item-input">
															<input type="text" ng-model="tmp.LUSUCEE" placeholder="Celular">
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  		<!-- Picker -->
		<div class="picker-modal picker-1">
			<div class="toolbar">
				<div class="toolbar-inner">
					<div class="left"></div>
					<div class="right"><a href="#" class="close-picker" style="color:white;font-weight:bolder;margin:0px 9px 0px 0px;">Cerrar</a></div>
				</div>
			</div>
			<div class="picker-modal-inner">
				<div class="content-block">
					<h2>Esta seguro que desea guardar la información</h2>
					<a href="#" ng-click="saveallinfo()" class="link">Guardar</a>
				</div>
			</div>
		</div>
		<!---->

	</div>

	<!-- Path to Jquery Library JS-->
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../js/framework7.min.js"></script>
    <!-- Path to Angular Library JS-->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../js/app.js"></script>

</body>
</html>